.header
  font-size 6vw
  font-weight bold
  text-align center
  padding 4vw 0
  margin 0 10px 4vw
  border-bottom 1px solid #e0e0e0

.live
  background-color #ffffff
  border-radius 5px
  border-bottom 1px solid #e0e0e0
  margin 0 10px 4vw
