.header
  font-size 6vw
  font-weight bold
  text-align center
  padding 4vw 0
  margin 0 10px 4vw
  border-bottom 1px solid #e0e0e0

.live
  background-color #ffffff
  border-radius 5px
  border-bottom 1px solid #e0e0e0
  margin 0 10px 4vw
  padding-bottom 3vw

  &:active
    background-color #e6e6e6

  .live-tour
    font-size 5vw
    font-weight bold
    word-break break-all
    line-height 6vw
    padding 2vw

  .live-place
    font-size 4vw
    padding 0 2vw
    line-height 6vw

  .live-open ,.live-start
    font-size 3.6vw
    color #808080
    padding 0 2vw
    line-height 5vw
