.setting-title
  font-size 16px
  font-weight bold
  padding 0 10px
  margin 10px 0 5px
  line-height 1.2

.cell
  width 100%
  background-color #ffffff
  padding 10px
  margin-bottom 2px
  line-height 1.4

  .title
    display flex
    align-items center

  .description
    color #a0a0a0
    font-size 12px

  &:active
    background-color #e0e0e0