<div class="title">新規通知</div>

<form class="schedule-form">

  <div class="schedule-element">
    <div class="label">通知の種別</div>
    <div class="description">通知を開いた時の振る舞い</div>
    <div class="input-container">
      <select name="weekday" class="select" [(ngModel)]="notification_type" required>
        <option value="pta" selected>P.T.A.</option>
        <option value="normal">通常</option>
      </select>
      <svg viewBox="0 0 12 14" class="triangle"><path d="M0 0l12 7-12 7z"></path></svg>
    </div>
  </div>

  <div class="schedule-element">
    <div class="label">チャンネル</div>
    <div class="description">通知の送信先チャンネル</div>
    <div class="input-container">
      <select name="weekday" class="select">
        <option value="0">all</option>
        <option value="0">news</option>
        <option value="1">pta</option>
        <option value="2">author</option>
        <option value="3">schedule</option>
      </select>
      <svg viewBox="0 0 12 14" class="triangle"><path d="M0 0l12 7-12 7z"></path></svg>
    </div>
  </div>

  <div class="schedule-element">
    <div class="label">タイトル</div>
    <div class="description">通知のタイトル</div>
    <div class="input-container">
      <input type="text" class="schedule-input" name="header" [(ngModel)]="header">
    </div>
  </div>

  <div class="schedule-element">
    <div class="label">画像URL</div>
    <div class="description">(iOS10以降)150kb以下の画像を指定してください</div>
    <div class="input-container">
      <input type="text" class="schedule-input" name="body" [(ngModel)]="body">
    </div>
  </div>


  <div class="schedule-element" *ngIf="notification_type == 'pta'">
    <div class="label">P.T.A.遷移先</div>
    <div class="description">P.T.A.自動ログイン後の遷移先</div>
    <div class="input-container">
      <select name="weekday" class="select">
        <option value="0">NEWS</option>
        <option value="1">BLOG</option>
        <option value="2">STAFF</option>
      </select>
      <svg viewBox="0 0 12 14" class="triangle"><path d="M0 0l12 7-12 7z"></path></svg>
    </div>
  </div>

  <div class="schedule-element"*ngIf="notification_type == 'normal'">
    <div class="label">遷移先URL</div>
    <div class="description">アプリ内ブラウザで開くURL</div>
    <div class="input-container">
      <input type="text" class="schedule-input" name="website_url" [(ngModel)]="website_url">
    </div>
  </div>

  <div class="button ph-flex-center" (click)="submit()">
    送信
  </div>

  <!--<div class="schedule-element">-->
  <!--<div class="label">通知</div>-->
  <!--<div class="description">この予定を通知対象にするかどうか</div>-->
  <!--<div class="input-container">-->
  <!--<select name="weekday" class="select" required>-->
  <!--<option value="0">有効</option>-->
  <!--<option value="1">無効</option>-->
  <!--</select>-->
  <!--<svg viewBox="0 0 12 14" class="triangle"><path d="M0 0l12 7-12 7z"></path></svg>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="schedule-element">-->
  <!--<div class="label">終日予定</div>-->
  <!--<div class="description">「リリース日」みたいなざっくりしたスケジュールの場合には有効にしてください。</div>-->
  <!--<div class="input-container">-->
  <!--<select name="weekday" class="select">-->
  <!--<option value="0">はい</option>-->
  <!--<option value="1">いいえ</option>-->
  <!--</select>-->
  <!--<svg viewBox="0 0 12 14" class="triangle"><path d="M0 0l12 7-12 7z"></path></svg>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="schedule-element">-->
  <!--<div class="label">深夜</div>-->
  <!--<div class="description">深夜の予定（深夜番組）などの場合には、前日にもその日の予定として表示します。</div>-->
  <!--<div class="input-container">-->
  <!--<select name="weekday" class="select">-->
  <!--<option value="0">はい</option>-->
  <!--<option value="1">いいえ</option>-->
  <!--</select>-->
  <!--<svg viewBox="0 0 12 14" class="triangle"><path d="M0 0l12 7-12 7z"></path></svg>-->
  <!--</div>-->
  <!--</div>-->

</form>
