&:host
  height 100%
  width 100%
  display flex
  flex-direction column
  align-content center

  .image-404
    height 100px
    width 100%
    background-image url(/assets/common/404.png)
    background-position center
    background-size contain
    background-repeat no-repeat
    margin-top 50px

  .bar
    width 90%
    height 1px
    margin 10px auto 0
    border-bottom 1px solid #e0e0e0

  .title
    margin-top 15px
    font-size 16px
    line-height 20px
    text-align center

  .message
    font-size 13px
    line-height 18px
    text-align center
    margin-top 10px

    .header
      font-weight 700

    .body
      margin-top 5px

