<div class="btn login ph-flex-center" (click)="login()" *ngIf="!user">ログイン</div>

<div class="user-info" *ngIf="user">
  <div class="header">User Info</div>
  <div class="profile-container">
    <div class="icon" [ngStyle]="{'background-image': 'url(' + user?.image_url + ')'}"></div>
    <div class="user-container">
      <div class="name">{{user?.name}}(@{{user?.screen_name}})</div>
      <div class="id">Id: {{user?.id}}</div>
    </div>
  </div>
  <div class="permission">Permission: {{user?.permission}}</div>
</div>

<div class="btn logout ph-flex-center" (click)="logout()" *ngIf="user">ログアウト</div>
