<div class="live-title">{{liveInfo?.name}}</div>

<div class="live-place">{{liveInfo?.place}}({{liveInfo?.place_for_search}})</div>
<div class="live-open" >開場 {{liveInfo?.open_at | dateParse | date:'y/M/d HH:mm'}}</div>
<div class="live-start">開演 {{liveInfo?.start_at | dateParse | date:'y/M/d HH:mm'}}</div>

<div class="status-container" *ngIf="userInfo">
  <div class="button-container">
    <div class="button ph-flex-center participate" (click)="participate()">参加する</div>
    <div class="button ph-flex-center non-participate" (click)="nonParticipate()">参加しない</div>
    <div class="button ph-flex-center pending" (click)="pending()">行きたい</div>
  </div>
  <div class="slide-container ph-flex-center">
    <md-slide-toggle class="slide-toggle" [checked]="tweet" (change)="tweetSwitchChanged()">ステータスの変更をツイートする</md-slide-toggle>
  </div>
</div>

<div class="login-message" *ngIf="!userInfo">
  他のユーザーと参加ステータスをシェアするためには<span class="login" (click)="login()">ログイン</span>が必要です
</div>

<div class="participant-list-title">行きます</div>
<div class="participant-list">
  <div class="user-cell" *ngFor="let user of participant">
    <div class="user-icon" [ngStyle]="{'background-image': 'url(' + user.image_url + ')'}"></div>
    <div class="user-name">{{user.name}}</div>
  </div>
</div>

<div class="participant-list-title">行きたい</div>
<div class="participant-list">
  <div class="user-cell" *ngFor="let user of wantToParticipant">
    <div class="user-icon" [ngStyle]="{'background-image': 'url(' + user.image_url + ')'}"></div>
    <div class="user-name">{{user.name}}</div>
  </div>
</div>

<div class="participant-list-title">行けません</div>
<div class="participant-list">
  <div class="user-cell" *ngFor="let user of nonParticipant">
    <div class="user-icon" [ngStyle]="{'background-image': 'url(' + user.image_url + ')'}"></div>
    <div class="user-name">{{user.name}}</div>
  </div>
</div>
