.participant-list-title
  font-size 4.8vmin
  line-height 5vmin
  margin 5vmin 2vmin 1vmin

.participant-list
  display flex
  flex-wrap wrap
  justify-content space-around
  margin-bottom 4vmin

.user-cell
  width 18vmin
  overflow hidden
  cursor pointer

.slide-toggle
  margin 2vmin 0 4vmin

.login-message
  font-size 4vmin
  line-height 5vmin
  margin 2vmin

  .login
    color #489bc6

.user-icon
  height 14vmin
  width 14vmin
  background-size contain
  background-position center
  background-repeat no-repeat
  border-radius 7vmin
  margin 2vmin 2vmin 0

  &:active
    opacity 0.7

.user-name
  font-size 2vmin
  overflow hidden
  text-overflow ellipsis
  text-align center

.live-title
  font-size 5vmin
  line-height 6vmin
  word-break break-all
  margin 5vmin 2vmin 4vmin
  padding-bottom 4vmin
  border-bottom 1px solid #e0e0e0

.live-place
  font-size 4vmin
  word-break break-all
  padding 0 2vmin

.live-open
.live-start
  font-size 3.6vmin
  word-break break-all
  padding 0 2vmin

.button-container
  display flex
  justify-content center
  margin 4vmin 1vmin 2vmin

.button
  height 10vmin
  flex 1
  margin 0 2vmin
  font-size 4vmin
  border-radius 2vmin

  &.participate
    background-color #489bc6
    color white

  &.non-participate
    background-color #ff5959
    color white

  &.pending
    background-color #0c9613
    color white

  &:active
    opacity 0.7
