// Adobe Fonts
$font-family-source-han-sans = source-han-sans-japanese,sans-serif
$font-weight-source-han-sans-light = 200
$font-weight-source-han-sans-normal = 300
$font-weight-source-han-sans-bold = 700
$font-style-source-han-sans = normal
